#file_name{
    height: 100%;
}
.container{
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
}
#labelForm{
    padding: 20px;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #3a8526;
}
button{
    float: right;
}
.errorDiv {
    margin-bottom: 0px;
}
i{
    color: #2bb44a;
    padding-right: 30px;
    font-size: 35px;
}

.fdb .ng-valid {
    border-left: 5px solid #42A948; /* green */
}
.selects {
   display: inline-grid;
}
.voltarSeta{
    cursor: pointer;
}
textarea{
    border-radius: 5px;
}
@media screen and (min-width: 480px){
    i{
        font-size: 45px;
    }

}
@media screen and (max-width: 480px) {
    .header #petmatch{
        font-size: 26px;
    }
    .header #addLabel{
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .header #petmatch{
        display: none;
    }
    .header #addLabel{
        font-size: 26px;
    }
}

@media screen and (max-height: 320px) {
    .header h1{
        font-size: 0px;
    }
}

.header {
    padding: 12px 0px 18px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    background-color: #fff;
}
.header h1, h4{
    color: #1c7430;
    display: inline;

}
input, select, textarea{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.19);
}
.popUp{
    position: fixed;
    border-radius: 8px;
    background-color: #1a3219;
    z-index: 200;
    top: 25%;
    color: #fff;
    padding: 15px;
}
@media screen and (min-width: 768px){
    .popUp{
        left: calc(50% - 150px);
    }

}
.popUp button{
    width: 80px;
}
